/* Styling forms*/
/* labels and inputs are inline-level tags*/
/* In general, it is better to display one on top of the other like block-level tags*/
.styled-form label,input{
    display: block;
}
/*You can style the elements inside the form like any block-level tag*/
.styled-form label{
    margin-bottom: 10px;
}
.styled-form input{
    width: 500px;
    margin-bottom: 25px;
}

/* Attribute selectors */
/* A method to style a tag based on one of its attributes*/

/* Styling the submit button separately */
/* The submit button is an input tag so the previous input selector properties are affecting the way it is displayed */

/* In order to create this selector, you need : */
/* The name of the attribute and the value of the attribute */
.styled-form input[type=submit]{
    width: 120px;
    font-size: 30px;
}

/* Styling Inputs */
/* The container around an input is a border, so you can style it with the border property */
.styled-form input[type=text]{
    border: 2px solid #7facaa;
    color: green;
}

/* Changing the height of an input*/
/* In order to achieve this, you need to style the text inside */
/* Also, the input border can be manipulated with padding to add some space between the border and the text */
.styled-form input[type=text]{
    font-size: 24px;
    padding: 7px;
}

/* Styling textareas */
/* You can change the width and height for textareas */
/* You can still use the same styles that are used in regular inputs */
textarea{
    width: 500px;
    height: 400px;
    padding: 7px;
    border: 2px solid #7facaa;
    margin-bottom: 25px;
    font-size: 24px;
}

/* Styling checkboxes */
/* In general, you do not want the Label and the Checkbox to be on separate lines */
/* You can use attribute selectors to make the input and label display inline*/
.styled-form input[type=checkbox], label[for=checkbox-label]{
    display: inline;
}





/* About Display Property in CSS

The display property specifies the display behavior (the type of rendering box) of an element.

In HTML, the default display property value is taken from the HTML specifications 
or from the browser/user default style sheet. The default value in XML is inline, including SVG elements.

inline 	            Displays an element as an inline element (like <span>). 
                    Any height and width properties will have no effect 	
block 	            Displays an element as a block element (like <p>). 
                    It starts on a new line, and takes up the whole width 	
contents 	        Makes the container disappear, making the child elements children 
                    of the element the next level up in the DOM 	
flex 	            Displays an element as a block-level flex container 	
grid 	            Displays an element as a block-level grid container 	
inline-block 	    Displays an element as an inline-level block container. 
                    The element itself is formatted as an inline element, 
                    but you can apply height and width values 	
inline-flex 	    Displays an element as an inline-level flex container 	
inline-grid 	    Displays an element as an inline-level grid container 	
inline-table 	    The element is displayed as an inline-level table 	
list-item 	        Let the element behave like a <li> element 	
run-in 	            Displays an element as either block or inline, depending on context 	
table 	            Let the element behave like a <table> element 	
table-caption 	    Let the element behave like a <caption> element 	
table-column-group 	Let the element behave like a <colgroup> element 	
table-header-group 	Let the element behave like a <thead> element 	
table-footer-group 	Let the element behave like a <tfoot> element 	
table-row-group 	Let the element behave like a <tbody> element 	
table-cell 	        Let the element behave like a <td> element 	
table-column 	    Let the element behave like a <col> element 	
table-row 	        Let the element behave like a <tr> element 	
none 	            The element is completely removed 	
initial 	        Sets this property to its default value. Read about initial 	
inherit 	        Inherits this property from its parent element.


*/